/* ======================== Page Resppnsive ======================== */
@media (max-width: 1300px) {
    .experience__bar{
        right: 70%;
    }

    .erroser{
        height: 530px;
        width: 40px;
    }
}

@media (max-width: 1206px) {
    .about{
        margin: 40px 60px;
        justify-content: space-between;
    }
    .about_content .content{
        margin: 0px 100px 0px -100px;
    }
    .about_content .content .outfit-font{
        width: 450px;
    }
}

@media (max-width: 1131px) {
    .projects_tools{
        margin-top: 10px;
    }
}

@media (max-width: 1103px) {
    .hero_header{
        font-size: 45px;
    }
    .line1{
        font-size: 25px;
    }

    .about_content .content{
        margin: 0px 50px 0px -50px;
    }


    .erroser{
        /* height: 500px; */
        width: 40px;
    }

    .skill_toole{
        margin-top: -120px;
    }
    
}

