/* ============================ VARIABLES CSS ============================ */
:root {
    /* ============================ Colors ============================ */
    --main-bg-color: linear-gradient(135deg, #1a1a2e 0%, #080c19 50%, #080c19 100%);
    --button-color: linear-gradient(135deg, #00d5ff, rgb(189, 226, 255), #00b4d8);
    --loading-color: linear-gradient(-80deg, #131331 0%, #0a0a35 50%, #07070f 100%);
    --heading-text-color: #00d4ff;
    --title-color: white;
    --text-color: #aaa;
    --alt-text-color: rgb(64, 204, 255);
    --alt-bg-primary-color: rgb(8, 27, 41);
    --alt-bg-secondary-color: rgb(1,2,7);

    /* ============================ Txt size ============================ */
    --sub-header-txt: 2.5rem;
    --intermediat-txt: 1.5rem;
    --higher_txt: 1.25rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

.main__page{
    /* overflow-x: hidden; */
}

html{
    background-color: black;
}

/* ============================ Body ============================ */
body {
    font-family: 'Arial', sans-serif;
    background: var(--alt-bg-secondary-color);
    color: rgb(255, 255, 255);
    min-height: 100vh;
    overflow-x: hidden;
    margin-top: 7rem;
    width: 100vw;
    overflow-x: hidden;
}

/* ============================ Pre-defined classes ============================ */
.flex_row{
    display: flex;
    justify-content: center;
}

.flex_col{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.z-index {
    position: relative;
    z-index: 100;
}

/* ============================ Fonts ============================ */

.instrument-serif-regular {
  font-family: "Instrument Serif", serif;
  font-weight: 400;
  font-style: normal;
}

.instrument-serif-regular-italic {
  font-family: "Instrument Serif", serif;
  font-weight: 400;
  font-style: italic;
}

.outfit-font {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.merriweather-font {
  font-family: "Merriweather", serif;
  font-optical-sizing: auto;
  /* font-weight: <weight>; */
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.oswald-font {
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  /* font-weight: <weight>; */
  font-style: normal;
}

.geist-mono-font {
  font-family: "Geist Mono", monospace;
  font-optical-sizing: auto;
  /* font-weight: <weight>; */
  font-style: normal;
  text-transform: uppercase;
  font-size: 18px;
}

/* ============================ Text Animation ============================ */

.color__change{
    font-size: 50px;
    margin-bottom: 1rem;
    text-shadow:  0 0 50px rgba(255, 252, 222, 0.5);
    color: rgb(255, 252, 222);
    animation: color__change__anim 15s ease-in-out infinite;
}

@keyframes color__change__anim {
    0%,100% {
        background-position: 100% 100%;
        text-shadow:0 0 50px rgba(255, 252, 222, 0.5);
        /* text-shadow:0 0 30px rgba(255, 255, 255, 0.57); */
        color: rgb(255, 252, 222);
    }
    50% {
        background-position: 10% 100%;
        text-shadow: 0 0 50px rgba(255, 252, 222, 0.1);
        color: rgb(255, 255, 255);
    }
}

.color__motion{
    text-shadow: 2px 4px 50px rgba(255, 252, 222, 0);
    color: transparent;
    /* background: #0a00c7; */
    background: linear-gradient(90deg, rgba(10, 0, 199, 1) 0%, rgba(255, 0, 187, 1) 40%, rgba(255, 0, 187, 1) 75%, rgba(255, 123, 0, 1) 90%, rgba(255, 123, 0, 1) 100%);
    
    background-position: 10% 100%;
    background-size: 400% 100%;
    background-clip: text;
    -webkit-background-clip: text;
    animation: gradient-slide 15s ease-in-out infinite;
}

@keyframes gradient-slide {
    0%, 100% {
        background-position: 10% 100%;
        text-shadow: 0 0 50px rgba(255, 252, 222, 0.1);
    }
    50% {
        background-position: 100% 100%;
        text-shadow:0 0 50px rgba(255, 252, 222, 0.7);
        /* text-shadow:0 0 30px rgba(255, 255, 255, 0.57); */
    }
}

/* ============================ Header ============================ */
header{
    opacity: 0;
    transition: opacity 2s ease;
}

header.fade-in {
    opacity: 1;
    transition: opacity 2s ease;
}

/* ============================ Menu bar ============================ */
.menu_bar {
    width: 99vw;
    display: flex;
    justify-content: space-between;
    align-items: center; /* Added for vertical centering */
    /* gap: 20rem; */
    /* backdrop-filter: blur(10px); */
    height: 5rem;
    border-radius: 10px;
    padding: 1.5rem 1.5rem 1rem 2rem;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 200;
}

.menu_bar .icon img{
    width: 50px;
}


.menu_bar ul {
    display: flex;
    width: 30rem;
    backdrop-filter: blur(5px);
    max-width: 40rem;
    border-radius: 10rem;
    justify-content: space-evenly;
    list-style: none;
    align-items: center;
    background-color: rgba(46, 46, 46, 0.563);
    border: 1px solid rgba(46, 46, 46, 0.74);
}

.menu_bar li{
    cursor: pointer;
    transition: all 0.3s ease;
    padding: 0.4rem 1rem;
    border-radius: 5rem;
    font-size: 14px;
}

.menu_bar li a{
    color: white;
    text-decoration: none;
}

.menu_bar li:hover {
    background: rgba(255, 255, 255, 0.122);
}

.quick_access{
    opacity: 0;
}

/* ============================ Quick Access ============================ */
.quick_access img{
  width: 50px;
  position: relative;
  bottom: 5px;
  cursor: pointer;
}

.quick_access_elements{
    position: absolute;
    display: none;
    opacity: 0;
}

.quick_access_visible{
    display: flex;
    flex-direction: column;
    opacity: 1;
    transition: opacity 2s ease;
}

/* Loading animation as present in loadingPage.css and also the main page display. */

/* ============================ Hero Section (1st page) ============================ */
.hero{
  background-image: url("/Resources/next.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

/* ============================ Hero: Star animation ============================ */
#star-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    pointer-events: none;
    z-index: 1;
}

.star {
    position: absolute;
    background-color: #fff;
    border-radius: 50%;
    opacity: 1;
    animation-name: twinkle;
    animation-duration: 15s;
    animation-iteration-count: infinite, infinite;
    animation-fill-mode: both, both;
    animation-timing-function: ease-in-out, ease-in-out;
    pointer-events: none;
    z-index: 5;
}

@keyframes twinkle {
    0%, 100% {
        opacity: 1;
        transform: scale(1);
        background-color: #fff;
    }
    30%,70% {
        opacity: 0;
        transform: scale(0.2);
        background-color: #fff;
    }
}

@keyframes float {
    0% {
        transform: translate(0px, 0px);
    }
    25% {
        transform: translate(10px, -40px);
    }
    50% {
        transform: translate(-20px, 10px);
    }
    75% {
        transform: translate(20px, 20px);
    }
    100% {
        transform: translate(0px, 0px);
    }
}


.hero_context{
    align-items: center;
}

/* ============================ Latest project access btn ============================ */
.letest{
  width:12rem;
  align-items: center;
  padding: 0.2rem 0.17rem;
  border: 1px solid white;
  border-radius: 10rem;
  color: #FFFFFFE6;
  font-size: 15px;
  cursor: pointer;
  margin: 50px 0px 30px 0px;
  align-self: center;

  background:
    linear-gradient(
      70deg,
      #32e6e300 0%,
      #32e6e300 45%,
      #ffffff9c 50%,
      #32e6e300 55%,
      #32e6e300 100%
    )
    no-repeat;
  background-size: 300% 100%;
  background-position: 0% 0; 
  animation: barMove 2s linear 1s infinite normal;
}

@keyframes barMove {
    0%,100%{
        background-position: 0% 0;
    }
    50%{
        background-position: 100% 0;
    }
}

.hero_new{
  border: 1px solid black;
  background-color: oklch(48.8% .243 264.376);
  border-radius: 10rem;
  padding: 0.1rem 0.4rem;
  font-size: 12px;
  margin-right: 1rem;
}

/* ============================ Latest project access btn : Bouncing arrow ============================ */
.letest i{
  font-size: 12px;
  margin: 0rem 0.5rem;
  position: relative;
  left: -5px;
  top: 0.4px;
  animation: right_jump 2s linear 3s infinite normal;
}

@keyframes right_jump {
    0%{
        left: -5px;
    }
    20%{
        left: 7px;
    }
    40%{
        left: -5px;
    }
    50%{
        left: 0px;
    }
    60%{
        left: -5px;
    }
    100%{
        left: -5px;
    }
}

/* ============================ Hero: Heading ============================ */
.hero_header{
    font-family: "Instrument Serif", serif;
    font-weight: 400;
    font-size: 55px;
    font-style: normal;
    align-items: center;
}

/* ============================ Hero: Animation motion bar ============================ */
.motion__bar{
    background: radial-gradient(50% 50%,#ffffff73 0,#0a0a0a00 100%);
    height: 100px;
    width: 40vw;
    position: absolute;
    margin-top: 100px;
    z-index: 0;
    animation: side__bar 8s linear 0s infinite normal;
}

@keyframes side__bar {
    0%,100%{
        left: 20%;
        margin-top: 140px;
        transform: rotate(-4deg);
    }
    25%,75%{
        margin-top: 100px;
        transform: rotate(0deg);
    }
    50%{
        left: 40%;
        margin-top: 140px;
        transform: rotate(4deg);
    }
}

/* ============================ Hero: Personal description with img ============================ */
.line1{
    font-size: 30px;
    font-weight: 400;
    align-items: center;
    margin-top: 40px;
    position: relative;
    right: 14px;
}

.line1 span{
    color: var(--alt-bg-secondary-color);
}

.img_div img{
    width: 50px;
    border-radius: 15px;
    overflow: hidden;
    margin: 0px 10px;
    z-index: 10;
}

/* ============================ Hero waving hand ============================ */
.waving__hand{
    width: 40px;
    position: absolute;
    left: 40%;
    opacity: 0;
}
